
/* section 2 "лечение кариеса" */

.main_h2 {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    color: var(--blue8);
    margin-top: 120px;
    margin-bottom: 40px;

}

.treatment {
   
}

.treatment img {
    max-width: 40%;
    border-radius: 20px;
    margin-left: 14px;
    
    float: right;
}

.treatment p {
    font-size: 24px;
    color: var(--blue9);
    text-align: justify;
    line-height: 33px;
}

.treatment-inner__2nd-p{
    padding-top: 18px;
}



/* section 3 "цены" */

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 56px;
    color: var(--blue8);
}

.prices {
    max-width: 1080px;
    margin: 6px auto;
    
}

.prices p {
    font-size: 20px;
    font-weight: 700;
    color: var(--blue9);
    padding: 27px;
    
}

.prices__light {
    background-color:var(--blue1) ;
    border-radius: 30px;
}

.prices__dark {
    background-color: var(--blue2);
    border-radius: 30px;
    margin: 12px auto;
}

.services-background{
    margin-bottom: 213px;
}

@media (max-width: 1024px) {
    .treatment img {
        max-width: 48%;
    }
}

@media (max-width: 640px){

    .treatment img {
        display: none;
    }
    .main_h2 {
        text-align: center;
    }

    .treatment-inner p {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: var(--blue10);


    }

    .treatment-inner {
        position: relative;
        background-image: url(image/patient.png);
        background-size: cover;
    }

    .treatment-inner::before{
        content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(240,249,255,0.5);
    
    }

}