:root {
    --blue1:#f0f9ff;
    --blue7:#0284c7;
    --blue8:#0369a1;
    --blue9:#075985;



    --grey3:#E5E5E5;
    --grey6:#737373;
    
}

* {
    box-sizing: border-box;
}


body{
    max-width: 1920px;
    margin: auto;
}

.inner {
    max-width: 1200px;
    margin: auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
}
header {
    min-height: 60px;
    background-color: var(--blue7);
    color: white;
    
}

.header-background {
    background-image: url("image/hero.png");
    background-size: cover;
    background-position: center top;
    min-height: 537px;
}

.services-h2-background{
    min-height: 183px;
    padding-top: 84px;
}

.services-background {
    background-color: var(--blue7);
    min-height: 285px;
    padding-top: 64px;
}

h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--blue8);

}

.services {
    display: flex;
    justify-content: space-between;

}

.service-item{
    height: 183px;
    width: 277px;
    border-radius: 20px;
}
.service-item-1 {

    background-image:url(image/service-3.png) ;
    
}

.service-item-2 {

    background-image:url(image/service-2.png) ;
    
}

.service-item-3 {

    background-image:url(image/service-1.png) ;
    
}

/* section 3 "о клинике" */

.about {
    padding-top: 46px;
    min-height: 668px;
    background-image: url(image/background-1.png);
}

/* section 4 "отзывы" */

.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
}

.reviews-item{
    display: inline-flex;
    width: calc(50% - 10px);

    gap: 20px;

    border: 1px solid var(--grey3);
    border-radius:20px;

    padding: 30px;

    margin-bottom: 40px;
}
.reviews__text-main {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey6);
}

.reviews__text-blue {
    font-size: 24px;
    font-weight: 700;
    color: var(--blue7);
}

/* section 5 "клиники" */

.clinics-background {
    min-height: 507px;
    background-image:url(image/map-background.png) ;
    position: relative;

}

.clinics-background h2{
    position: relative;
}

.clinics-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(240,249,255,0.8);
}

.clinics {
    display: flex;
    gap: 23px;
    position: relative;
}

.clinics-item {
    border: 1px solid var(--blue7);
    border-radius: 25px;
    padding: 23px;
}

.clinics__location{
    display: flex;
    margin-bottom: 60px;
}

.clinics img {
    width: 25px;
    height: auto;
    object-fit: contain;
    object-position: top;
}

/* section 6 "footer" */

.footer-background {
    min-height: 407px;
    background-color:var(--blue1);
}

.footer-icon-text{
    display: flex;

}

.address {
    font-size: 18px;
    font-weight: 400;
    color:var(--blue9)
}